*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color:#2f5294;
}
/* container center text on image */
.welcome{
  color:#fff !important;
}
.container1{
  position: relative !important;
  text-align: center;
  color:#fff;
}
.centered {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  color:rgb(246, 242, 242);
} 

.main{
  opacity: 0.8;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text]{
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  border-radius: 6px;
  /* font-size: 17px; */
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: transparent;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
  border-radius: 4px;
}

/* profile dropdown button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 14px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: ; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #fff;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: transparent; opacity: 0.9;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #2f5294; opacity: 0.8;}


.navbar
{
    border-bottom:10px solid rgb(246, 242, 242);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}
.wrapper section .item {
  padding: 0 2px;
  transition: 250ms all;
}
.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}
.wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
.wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
/* @media only screen and (max-width: 600px) {
  a.arrow__btn {
    display: none;
  }
} */

.title1{
  margin-top: 15px;
  margin-left: 10px;
  color: #fff;
}

.footer {
	max-width: 100%;
	overflow: auto;
	background-color: #0c1a35;

}

.footer, .footer a {
	color: #999;
	font-size: 0.9rem;
}

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}
@media screen and (max-width: 350px){
	.footer .footer-cols{
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0;
	}
	.text h1{
		font-size: 2rem !important;
	}
	.text p{
		font-size: 1rem !important;
	}
}
@media screen and (min-width: 351px) and (max-width: 530px){
	.footer .footer-cols{
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	}
	.text h1{
		font-size: 2rem !important;
	}
	.text p{
		font-size: 1rem !important;
	}
}

.footer li {
	line-height: 1.9;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #0c1a35;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}

@media screen and (max-width: 350px){
  .topnav .search-container {
    float: left;
    margin-left: 3%;
  }
  .topnav a, .topnav input[type=text], .topnav input[type=submit] {
    float: none;
    display: inline-block;
    text-align: left;
    width: 70%;
    padding: 10px;
  }
  .topnav input[type=text]{
    font-size: 0.9em;
    margin-bottom: 3%;
  }
  .welcome{
    font-size: 0.8em;
  }
  
}

@media screen and (min-width: 351px) and (max-width: 500px){
  .topnav .search-container {
    float: left;
    margin-left: 2%;
  }
  .topnav input[type=text], .topnav input[type=submit]{
    display: inline-block;
    width: 80%;
    margin-bottom: 3%;
    padding: 10px;
    text-align: left;
  }
  .topnav .search-container button{
    padding: 5px 1px;
    margin-top: 10px;
  }
  .topnav a{
    text-align: left;
  }
  .dropdown{
    display: block;
  }
  .welcome{
    font-size: 0.9em;
  }
}

@media screen and (max-width: 700px) {
  .topnav a, .topnav input[type=text], .topnav input[type=submit] {
    float: none;
    /* display: block; */
    /* text-align: left; */
    /* width: 100%; */
    /* margin: 0; */
    /* padding: 14px; */
  }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  .welcome{
    font-size: 1.5em;
  }
  .topnav a{
    float:left;
    font-size: 0.9em;
  }
  .topnav input[type=text]{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 0;
    width: 60%;
    font-size: 0.8em;
  }
  .topnav .search-container button{
    padding: 5px 5px;
    margin-top: 5px;
    float: none;
  }
  .dropbtn{
    font-size: 0.9em;
  }
}

@media screen and (min-width: 604px) and (max-width: 750px){
  .topnav .search-container{
    float: none;
    margin-bottom: 6px;
  }

}
@media screen and (min-width: 750px) and (max-width: 885px){
  .topnav .search-container{
    float: right;
    margin-bottom: 6px;
    width: 30%;
    font-size: 0.8em;
  }
  .topnav .search-container button{
    padding: 5px 5px;
    margin-top: 5px;
    float: none;
  }
  .topnav a{
    padding: 8px;
    padding-top: 11px;
  }
  .dropbtn{
    padding-top: 11px;
    padding-left: 7px;
  }
}

@media screen and (min-width: 700px) and (max-width:910px){
  .topnav input[type=text]{
    width: 50%;
  }
  .topnav .search-container button{
    /* padding: 5px 5px; */
    margin-top: 5px;
    float: none;
  }
  .topnav a{
    float:left;
    font-size: 0.9em;
  }
  .dropbtn{
    font-size: 0.9em;
  }
}